html body {
  margin: 0;
  padding: 0;
}
html body .container {
  display: flex;
}
html body .container .section-card {
  background: url(../images/bg-main-desktop.png) no-repeat;
  width: 40%;
  margin-right: 50px;
  height: 800px;
  display: flex;
  flex-direction: column;
}
html body .container .section-card .card-front {
  background: url(../images/bg-card-front.png) no-repeat;
  width: 447px;
  height: 245px;
  position: relative;
  font-family: "Space Grotesk", sans-serif;
  color: hsl(0deg, 0%, 100%);
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  box-sizing: border-box;
  justify-content: space-between;
  top: 20%;
  left: 30%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}
html body .container .section-card .card-front .card-logo {
  background: url(../images/card-logo.svg) no-repeat;
  width: 90px;
  height: 55px;
  position: relative;
}
html body .container .section-card .card-front h3.card-number {
  margin: 0;
  font-size: 25px;
  letter-spacing: 5px;
  font-weight: 400;
  padding-top: 50px;
}
html body .container .section-card .card-front .identity {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 14px;
}
html body .container .section-card .card-back {
  background: url(../images/bg-card-back.png) no-repeat;
  width: 447px;
  height: 245px;
  color: hsl(0deg, 0%, 100%);
  font-family: "Space Grotesk", sans-serif;
  padding-right: 50px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  justify-content: end;
  top: 25%;
  left: 50%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}
html body .container .section-card .card-back p.card-cvc {
  margin: 0;
  letter-spacing: 2px;
  margin-top: 110px;
}
html body .container .section-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
}
html body .container .section-form form {
  display: flex;
  flex-direction: column;
  font-family: "Space Grotesk", sans-serif;
  width: 50%;
  box-sizing: border-box;
}
html body .container .section-form form label {
  font-weight: 600;
  text-transform: uppercase;
  color: hsl(278deg, 68%, 11%);
  opacity: 0.9;
  font-size: 12px;
  letter-spacing: 4px;
  margin-top: 25px;
  margin-bottom: 10px;
}
html body .container .section-form form input {
  font-family: "Space Grotesk", sans-serif;
  color: hsl(278deg, 68%, 11%);
  opacity: 0.9;
  font-weight: 600;
  border: 1px solid hsl(270deg, 3%, 87%);
  border-radius: 8px;
  height: 40px;
  font-size: 16px;
  padding-left: 15px;
  transition: all 0.3s;
}
html body .container .section-form form input::-moz-placeholder {
  font-size: 16px;
  color: hsl(279deg, 6%, 55%);
  opacity: 0.6;
  font-weight: 500;
}
html body .container .section-form form input:-ms-input-placeholder {
  font-size: 16px;
  color: hsl(279deg, 6%, 55%);
  opacity: 0.6;
  font-weight: 500;
}
html body .container .section-form form input::placeholder {
  font-size: 16px;
  color: hsl(279deg, 6%, 55%);
  opacity: 0.6;
  font-weight: 500;
}
html body .container .section-form form input:focus {
  outline: none;
  border: 1px solid hsl(278deg, 44%, 44%);
  color: hsl(278deg, 68%, 11%);
}
html body .container .section-form form .date-cvc {
  display: flex;
  width: 100%;
  margin-top: 25px;
  box-sizing: border-box;
  margin-bottom: 30px;
}
html body .container .section-form form .date-cvc .exp-date {
  width: 60%;
}
html body .container .section-form form .date-cvc .exp-date input {
  margin-top: 10px;
  width: 35%;
}
html body .container .section-form form .date-cvc .cvc-form {
  width: 35%;
}
html body .container .section-form form .date-cvc .cvc-form input {
  margin-top: 10px;
  width: 100%;
}
html body .container .section-form form button {
  background-color: hsl(278deg, 68%, 11%);
  color: hsl(0deg, 0%, 100%);
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  height: 50px;
  cursor: pointer;
  transition: all 0.3s;
}
html body .container .section-form form button:hover {
  background-color: hsl(280deg, 64%, 6%);
}/*# sourceMappingURL=main.css.map */