html body {
  margin: 0;
  padding: 0;
}
html body .container {
  display: flex;
}
html body .container .section-card {
  background: url(../images/bg-main-desktop.png) no-repeat;
  width: 40%;
  margin-right: 50px;
  height: 800px;
  display: flex;
  flex-direction: column;
  z-index: -2;
}
html body .container .section-card .card-front {
  width: 447px;
  height: 245px;
  position: relative;
  font-family: "Space Grotesk", sans-serif;
  color: hsl(0deg, 0%, 100%);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
  top: 20%;
  left: 30%;
}
html body .container .section-card .card-front img {
  position: absolute;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  z-index: -1;
}
html body .container .section-card .card-front .card-logo {
  width: 90px;
  position: relative;
  margin-top: 30px;
  margin-left: 30px;
}
html body .container .section-card .card-front h3.card-number {
  margin: 0;
  font-size: 25px;
  letter-spacing: 5px;
  font-weight: 400;
  margin-top: 50px;
  margin-left: 30px;
}
html body .container .section-card .card-front .identity {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 14px;
  margin: 10px 30px;
}
html body .container .section-card .card-front .identity .card-date {
  display: flex;
}
html body .container .section-card .card-back {
  width: 447px;
  height: 245px;
  color: hsl(0deg, 0%, 100%);
  font-family: "Space Grotesk", sans-serif;
  display: flex;
  position: relative;
  box-sizing: border-box;
  justify-content: end;
  top: 25%;
  left: 55%;
}
html body .container .section-card .card-back img {
  position: absolute;
  z-index: -1;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}
html body .container .section-card .card-back p.card-cvc {
  margin: 0;
  letter-spacing: 2px;
  margin-top: 110px;
  margin-right: 50px;
}
html body .container .section-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
}
html body .container .section-form form {
  display: flex;
  flex-direction: column;
  font-family: "Space Grotesk", sans-serif;
  width: 50%;
  box-sizing: border-box;
}
html body .container .section-form form .form-field {
  width: 100%;
  display: flex;
  flex-direction: column;
}
html body .container .section-form form .form-field label {
  font-weight: 600;
  text-transform: uppercase;
  color: hsl(278deg, 68%, 11%);
  opacity: 0.9;
  font-size: 12px;
  letter-spacing: 4px;
  margin-top: 25px;
  margin-bottom: 10px;
}
html body .container .section-form form .form-field input {
  font-family: "Space Grotesk", sans-serif;
  color: hsl(278deg, 68%, 11%);
  opacity: 0.9;
  font-weight: 600;
  border: 1px solid hsl(270deg, 3%, 87%);
  border-radius: 8px;
  height: 40px;
  font-size: 16px;
  padding-left: 15px;
  transition: all 0.3s;
}
html body .container .section-form form .form-field input::-moz-placeholder {
  font-size: 16px;
  color: hsl(279deg, 6%, 55%);
  opacity: 0.6;
  font-weight: 500;
}
html body .container .section-form form .form-field input:-ms-input-placeholder {
  font-size: 16px;
  color: hsl(279deg, 6%, 55%);
  opacity: 0.6;
  font-weight: 500;
}
html body .container .section-form form .form-field input::placeholder {
  font-size: 16px;
  color: hsl(279deg, 6%, 55%);
  opacity: 0.6;
  font-weight: 500;
}
html body .container .section-form form .form-field input:focus {
  outline: none;
  border: 1px solid hsl(278deg, 44%, 44%);
  color: hsl(278deg, 68%, 11%);
}
html body .container .section-form form .form-field small {
  color: hsl(0deg, 100%, 66%);
}
html body .container .section-form form .error input {
  border-color: hsl(0deg, 100%, 66%);
}
html body .container .section-form form .success input {
  border-color: none;
}
html body .container .section-form form .date-cvc {
  display: flex;
  width: 100%;
  margin-top: 5px;
  box-sizing: border-box;
  margin-bottom: 30px;
}
html body .container .section-form form .date-cvc .exp-date {
  width: 60%;
}
html body .container .section-form form .date-cvc .exp-date input {
  margin-top: 0;
  width: 35%;
}
html body .container .section-form form .date-cvc .cvc-form {
  width: 35%;
}
html body .container .section-form form .date-cvc .cvc-form input {
  margin-top: 0;
  width: 100%;
}
html body .container .section-form form button {
  background-color: hsl(278deg, 68%, 11%);
  color: hsl(0deg, 0%, 100%);
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  height: 50px;
  cursor: pointer;
  transition: all 0.3s;
}
html body .container .section-form form button:hover {
  background-color: hsl(278deg, 44%, 44%);
}
html body .container .section-complete {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  font-family: "Space Grotesk", sans-serif;
}
html body .container .section-complete img {
  margin: 10px;
}
html body .container .section-complete h2 {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: hsl(278deg, 68%, 11%);
  margin-bottom: 10px;
}
html body .container .section-complete p {
  margin-top: 10px;
  margin-bottom: 30px;
  color: hsl(279deg, 6%, 55%);
  font-weight: 500;
}
html body .container .section-complete button {
  background-color: hsl(278deg, 68%, 11%);
  color: hsl(0deg, 0%, 100%);
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 350px;
  cursor: pointer;
  transition: all 0.3s;
}
html body .container .section-complete button:hover {
  background-color: hsl(278deg, 44%, 44%);
}
html body .container .hidden {
  display: none;
}
@media (max-width: 375px) {
  html body .container {
    flex-direction: column;
  }
  html body .container .section-card {
    background: url(../images/bg-main-mobile.png) no-repeat;
    width: 100%;
    height: 240px;
  }
  html body .container .section-card .card-front {
    width: 300px;
    height: 160px;
    position: relative;
    font-family: "Space Grotesk", sans-serif;
    color: hsl(0deg, 0%, 100%);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
    top: 55%;
    left: 5%;
  }
  html body .container .section-card .card-front img {
    width: 300px;
    height: 160px;
  }
  html body .container .section-card .card-front .card-logo {
    width: 60px;
    height: auto;
    margin-top: 20px;
    margin-left: 20px;
  }
  html body .container .section-card .card-front h3.card-number {
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: 400;
    margin-top: 40px;
    margin-left: 20px;
  }
  html body .container .section-card .card-front .identity {
    margin: 0 20px;
    font-size: 11px;
    margin-bottom: 10px;
  }
  html body .container .section-card .card-back {
    width: 300px;
    height: 160px;
    top: -49%;
    left: 15%;
    z-index: -2;
  }
  html body .container .section-card .card-back img {
    width: 300px;
    height: 160px;
    position: absolute;
    z-index: -1;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  }
  html body .container .section-card .card-back p.card-cvc {
    margin-top: 72px;
    margin-right: 38px;
    font-size: 11px;
  }
  html body .container .section-form {
    width: 100%;
  }
  html body .container .section-form .form {
    margin-top: 70px;
    margin-bottom: 50px;
    width: 85%;
  }
  html body .container .section-complete {
    width: 100%;
    margin: 90px auto;
  }
  html body .container .section-complete button {
    width: 330px;
  }
  html body .container .section-complete p {
    margin-bottom: 40px;
  }
}/*# sourceMappingURL=main.css.map */