// Variable text
$font: 'Space Grotesk', sans-serif;

// Color
$white: hsl(0, 0%, 100%);
$darkViolet: hsl(278, 68%, 11%);
$lightViolet: hsl(278, 44%, 44%);
$lightGrey: hsl(270, 3%, 87%);
$darkGrey: hsl(279, 6%, 55%);
$color-invalid: hsl(0, 100%, 66%);

html body {
    margin: 0;
    padding: 0;

    .container {
        display: flex;

        .section-card {
            background: url(../images/bg-main-desktop.png) no-repeat;
            width: 40%;
            margin-right: 50px;
            height: 800px;
            display: flex;
            flex-direction: column;
            z-index: -2;

            .card-front {
                width: 447px;
                height: 245px;
                position: relative;
                font-family: $font;
                color: $white;
                display: flex;
                flex-direction: column;
                box-sizing: border-box;
                justify-content: space-between;
                top: 20%;
                left: 30%;                

                img {
                    position: absolute;
                    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.05);
                    z-index: -1;
                }

                .card-logo {
                    width: 90px;
                    position: relative;
                    margin-top: 30px;
                    margin-left: 30px;
                }

                h3.card-number {
                    margin: 0;
                    font-size: 25px;
                    letter-spacing: 5px;
                    font-weight: 400;
                    margin-top: 50px;
                    margin-left: 30px;
                }

                .identity {
                    display: flex;
                    justify-content: space-between;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-weight: 400;
                    font-size: 14px;
                    margin: 10px 30px;

                    .card-date {
                        display: flex;
                    }
                }
            }

            .card-back {
                width: 447px;
                height: 245px;
                color: $white;
                font-family: $font;
                display: flex;
                position: relative;
                box-sizing: border-box;
                justify-content: end;
                top: 25%;
                left: 55%;

                img {
                    position: absolute;
                    z-index: -1;
                    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.05);
                }

                p.card-cvc {
                    margin: 0;
                    letter-spacing: 2px;
                    margin-top: 110px;
                    margin-right: 50px;
                }
            }
        }

        .section-form {
            // display: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 60%;

            form {
                display: flex;
                flex-direction: column;
                font-family: $font;
                width: 50%;
                box-sizing: border-box;

                .form-field {
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    label {
                        font-weight: 600;
                        text-transform: uppercase;
                        color: $darkViolet;
                        opacity: 0.9;
                        font-size: 12px;
                        letter-spacing: 4px;
                        margin-top: 25px;
                        margin-bottom: 10px;
                    }
    
                    input {
                        font-family: $font;
                        color: $darkViolet;
                        opacity: 0.9;
                        font-weight: 600;
                        border: 1px solid $lightGrey;
                        border-radius: 8px;
                        height: 40px;
                        font-size: 16px;
                        padding-left: 15px;
                        transition: all 0.3s;
    
                        &::placeholder {
                            font-size: 16px;
                            color: $darkGrey;
                            opacity: 0.6;
                            font-weight: 500;
                        }
    
                        &:focus {
                            outline: none;
                            border: 1px solid $lightViolet;
                            color: $darkViolet;
                        } 
                    }
                    
                    small {
                        color: $color-invalid;
                    }
                }

                .error input {
                    border-color: $color-invalid;
                }
                
                .success input {
                    border-color: none;
                }

                

                .date-cvc {
                    display: flex;
                    width: 100%;
                    margin-top: 5px;
                    box-sizing: border-box;
                    margin-bottom: 30px;

                    .exp-date {
                        width: 60%;

                        input {
                            margin-top: 0;
                            width: 35%;
                        }
                    }

                    .cvc-form {
                        width: 35%;

                        input {
                            margin-top: 0;
                            width: 100%;
                        }
                    }
                }

                button {
                    background-color: $darkViolet;
                    color: $white;
                    font-family: $font;
                    font-size: 16px;
                    border: none;
                    border-radius: 5px;
                    height: 50px;
                    cursor: pointer;
                    transition: all 0.3s;

                    &:hover {
                        background-color: $lightViolet;
                    }
                }
            }
        }

        .section-complete {
            // display: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 60%;
            font-family: $font;

            img {
                margin: 10px;
            }

            h2 {
                text-transform: uppercase;
                letter-spacing: 5px;
                color: $darkViolet;
                margin-bottom: 10px;
            }

            p {
                margin-top: 10px;
                margin-bottom: 30px;
                color: $darkGrey;
                font-weight: 500;
            }

            button {
                background-color: $darkViolet;
                color: $white;
                font-family: $font;
                font-size: 16px;
                border: none;
                border-radius: 5px;
                height: 50px;
                width: 350px;
                cursor: pointer;
                transition: all 0.3s;

                &:hover {
                    background-color: $lightViolet;
                }
            }
        }

        .hidden {
            display: none;
        }
    }

    @media (max-width: 375px) {
        .container {
            flex-direction: column;

            .section-card {
                background: url(../images/bg-main-mobile.png) no-repeat;
                width: 100%;
                height: 240px;

                .card-front {
                    width: 300px;
                    height: 160px;
                    position: relative;
                    font-family: $font;
                    color: $white;
                    display: flex;
                    flex-direction: column;
                    box-sizing: border-box;
                    justify-content: space-between;
                    top: 55%;
                    left: 5%;  

                    img {
                        width: 300px;
                        height: 160px;
                    }

                    .card-logo {
                        width: 60px;
                        height: auto;
                        margin-top: 20px;
                        margin-left: 20px;
                    }

                    h3.card-number {
                        font-size: 18px;
                        letter-spacing: 3px;
                        font-weight: 400;
                        margin-top: 40px;
                        margin-left: 20px;
                    }

                    .identity {
                        margin: 0 20px;
                        font-size: 11px;
                        margin-bottom: 10px;
                    }
                }

                .card-back {
                    width: 300px;
                    height: 160px;
                    top: -49%;
                    left: 15%;
                    z-index: -2;

                    img {
                        width: 300px;
                        height: 160px;
                        position: absolute;
                        z-index: -1;
                        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.05);
                    }

                    p.card-cvc {
                        margin-top: 72px;
                        margin-right: 38px;
                        font-size: 11px;
                    }
                }
            }

            .section-form {
                width: 100%;

                .form {
                    margin-top: 70px;
                    margin-bottom: 50px;
                    width: 85%;
                }
            }

            .section-complete {
                width: 100%;
                margin: 90px auto;

                button {
                    width: 330px;
                }

                p {
                    margin-bottom: 40px;
                }
            }
        }
    }
}